{% extends "layout.html" %}

{% block body %}

<!-- INTRO -->

  {% if not current_user.is_authenticated %}
    <div class="container" >
      <div class="row" style="padding-bottom: 100px">
        <div class="col">
          <h1 >varjoForum</h1>
        </div>
      </div>
      <hr class="my-4">
      <div class="row">
        <div class="col-md">
          <h3>Welcome to varjoForum, its great place to keep in touch with your friends or colleagues</h3>
        </div>
        <div class="col col-lg-5">
          <div class="">

            <!-- REGISTER NEW ACCOUNT -->

            <h2>Create Account</h2>
            <div class="text-danger">
              {% for error in errors %}
              <p>{{ error }}</p>
              {% endfor %}
            </div>

              <form method="POST" action="{{ url_for('account_create') }}" name="accountform">
                <div class="form-group">
                  <h6>{{ accountform.username.label }}</h6>
                  {{ accountform.username(class="form-control", placeholder="username, length atleast 2 characters") }}
                  <div class="text-danger">
                    <small class="form-text text-muted">
                      <ul>
                        {% for error in accountform.username.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                      </ul>
                    </small>
                  </div>

                  <h6>{{ accountform.password.label }}</h6>
                  {{ accountform.password(class="form-control", placeholder="length atleast 8 characters") }}
                  <div class="text-danger">
                    <small class="form-text text-muted">
                      <ul>
                        {% for error in accountform.password.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                      </ul>
                    </small>
                  </div>

                  <h6>{{ accountform.password2.label }}</h6>
                  {{ accountform.password2(class="form-control", placeholder="write it again") }}
                  <div class="text-danger">
                    <small class="form-text text-muted">
                      <ul>
                        {% for error in accountform.password2.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                      </ul>
                    </small>
                  </div>

                  <h6>{{ accountform.motto.label }}</h6>
                  {{ accountform.motto(class="form-control", placeholder="what descripes you") }}
                  <div class="text-danger">
                    <small class="form-text text-muted">
                      <ul>
                        {% for error in accountform.motto.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                      </ul>
                    </small>
                  </div>

                  <h6>{{ accountform.email.label }}</h6>
                  {{ accountform.email(class="form-control", placeholder="e.g. 'email@email.fi'") }}
                  <div class="text-danger">
                    <small class="form-text text-muted">
                      <ul>
                        {% for error in accountform.email.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                      </ul>
                    </small>
                  </div>
                </div>
                <button type="submit" class="btn btn-success">REGISTER</button>
              </form>
          </div>
        </div>
      </div>
    </div>

  {% endif %}


{% endblock %}
