<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <title>varjoForum</title>
    </head>

    <body>

      <!-- NAVIGATION -->

      <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <div class="border-right">
          <a class="navbar-brand" href="{{ url_for('index') }}">varjoForum</a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            {% if current_user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('channel_form') }}">Create channel</a>
              </li>

            {% endif %}
            {% if current_user.admin == True %}

              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('account_list') }}">Manage accounts</a>
              </li>


              <li class="nav-item">
                <a href="{{ url_for('channel_manager') }}" class="nav-link">Manage channels</a>
              </li>



            {% endif %}
          </ul>


            <!-- DROPDOWN BUTTON -->


            <div class="btn-group">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if current_user.is_authenticated %}
                  Manage Account
                {% else %}
                  Login
                {% endif %}
              </button>
              <div class="dropdown-menu dropdown-menu-left">
                {% if current_user.is_authenticated %}
                <a class="dropdown-item" href="{{ url_for('single_account_index') }}">my account</a>
                <a class="dropdown-item" href="{{ url_for('auth_logout') }}"> Logout</a>
                {% else %}
                <a class="dropdown-item" href="{{ url_for('auth_login') }}">Login</a>
                {% endif %}

              </div>
            </div>
        </div>
      </nav>







    <!-- MAIN CONTAINER -->

      <div class="container-fluid" >
        <div class="row">

          <!-- vertical navication -->

            <div class="border-right">
              <div class="col-sx" >
                <div style="float: left">
                  <div class="list-group">
                  {% if current_user.is_authenticated %}
                    {% if my_channels %}
                    <h4 class="list-group-item">Joined Channels</h4>
                    {% endif %}

                    <!-- channels user have allready join -->
                    {% for my_channel in my_channels %}
                        <a href="{{ url_for('one_channel_index', channel_id=my_channel.channel_id, sort='first') }}"
                            class="list-group-item list-group-item-action list-group-item-dark">
                        {{ my_channel.channel_name }}
                        </a>
                    {% endfor %}
                    <h4 class="list-group-item">All Rest Channels</h4>
                {% else %}
                {% if all_channels %}
                <h4 class="list-group-item">All Channels</h4>
                {% endif %}
                {% endif %}

                <!-- channels that user not joined -->
                {% for channel in all_channels %}
                <a href="{{ url_for('one_channel_index', channel_id=channel.id, sort='first') }}"
                    class="list-group-item list-group-item-action list-group-item-dark">
                  {{ channel.name }}
                </a>
                {% endfor %}
              </div>
              </div>
              </div>
          </div>


          <!-- BLOCK BODY -->

          <div class="col">
            {% block body %}
            <p>
              Tähän tuodaan sisältö muualta.
            </p>
            {% endblock %}
          </div>
        </div>


      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
  </html>
