{% extends "layout.html" %}

{% block body %}

<h2>{{ channel.name }}</h2>

{% if allready_join == False %}
<form method="POST" action="{{ url_for('channels_join', channel_id=channel.id) }}">
  <button type="submit">Join this channel</button>
</form>
{% endif %}

{% if current_user.admin == True %}

<a href="{{ url_for('channel_change', channel_id=channel.id) }}">
  <button type="button" class="btn btn-secondary btn-lg" >update</button>
</a>
{% endif %}

{% if current_user.is_authenticated %}
<form method="POST" action="{{ url_for('messages_create', channel_id=channel.id) }}">
  <div class="form-group">
    <h6>{{ form.body.label }}</h6>
    {{ form.body }}
    {% for error in form.body.errors %}
      {{ error }}
    {% endfor %}
  </div>

      

          

        <button type="submit" class="btn btn-primary btn-lg btn-block">Add new message</button>

</form>
{% endif %}

<ul>
  {% for message in messages %}

  <li><a href="{{ url_for('message_index', channel_id=channel.id, message_id=message.id) }}">{{ message.body }}</a><span> -- {{ message.writer }} --</span></li>

  {% endfor %}
</ul>




{% endblock %}