{% extends "layout.html" %}

{% block body %}
<div class="row" style="padding-left:10px">
  <ul class="list-group">
    {% for channel in channels %}
    <div class="row" style="padding-bottom: 10px">
      <div class="col">
        <div class="list-group-item list-group-item-danger">
          {{ channel.name }}
        </div>
      </div>
      <div class="col-md-auto">
        <form action="{{ url_for('delete_channel', channel_id=channel.id) }}" method="POST">
          <button type="submit" class="btn btn-danger" >DELETE</button>
        </form>
      </div>
      <div class="col-md-auto">
        <a href="{{ url_for('channel_change', channel_id=channel.id) }}" class="btn btn-secondary">UPDATE</a>
      </div>
    </div>
    {% endfor %}
  </ul>
</div>





{% endblock %}
