{% extends "layout.html" %}

{% block body %}

<!-- CREATE NEW CHANNEL -->

<form method="POST" action="{{ url_for('channels_create') }}" name="channelform">
  <div class="form-group">
    <table>
      <tr>
        <td>{{ channelform.name.label }}:</td>
        <td>{{ channelform.name(class="form-control") }}</td>
        <td>
          <ul>
            {% for error in channelform.name.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <td colspan="2"><button type="submit" class="btn btn-success">Create new Channel :)</button></td>
      </tr>
    </table>
  </div>

</form>

{% endblock %}
