{% extends "layout.html" %}

{% block body %}

<!-- CREATE NEW CHANNEL -->

<form method="POST" action="{{ url_for('channels_create') }}" name="channelform">

  <div class="form-group">
    <h6>{{ channelform.name.label }}</h6>
    {{ channelform.name(class="form-control") }}
    <h6 >{{ channelform.introduction.label }}:</h6>
    {{ channelform.introduction(class="form-control", rows=10) }}
    {% for error in channelform.name.errors %}
      {{ error }}
    {% endfor %}
  </div>
  <button type="submit" class="btn btn-success" >Create new Channel :)</button>

</form>

{% endblock %}
