
{% extends "layout.html" %}

{% block body %}


<!-- CHANGE CHANNEL NAME -->

<p>Old name: {{ channel.name }}</p>

<form method="POST" action="{{ url_for('channel_update', channel_id=channel.id) }}" name="channelform">
  <div class="form-group">
    <h6>{{ channelform.name.label }}</h6>
    {{ channelform.name(class="form-control") }}
    <h6 >{{ channelform.introduction.label }}:</h6>
    {{ channelform.introduction(class="form-control", rows=10) }}
    {% for error in channelform.name.errors %}
      {{ error }}
    {% endfor %}
  </div>
  <button type="submit" class="btn btn-success" >Create new Channel :)</button>

  </form>

{% endblock %}
