{% extends "layout.html" %}

{% block body %}

<h1>My Account</h1>

<h2>username: {{ account.username }}</h2>
<p>Email: {{account.email }}</p>
<p>motto: {{ account.motto }}</p>

<p><b>update your account</b></p>

{% for error in errors %}
<p>{{ error }}</p>
{% endfor %}

<form method="POST" action="{{ url_for('accounts_update', account_id=account.id) }}">
  <table>
    <tr>
      <td>{{ form.username.label }}</td>
      <td>{{ form.username }}</td>
    </tr>
    <tr>
      <td>{{ form.password.label }}</td>
      <td>{{ form.password }}</td>
    </tr>
    <tr>
      <td>{{ form.motto.label }}</td>
      <td>{{ form.motto }}</td>
    </tr>
    <tr>
      <td>{{ form.email.label }}</td>
      <td>{{ form.email }}</td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="update" /></td>
    </tr>
  </table>
</form>

<p><b>channels you have created</b></p>

<ul>
  {% for channel in channels %}
  <li>{{ channel.name }}</li>
  {% endfor %}
</ul>


{% endblock %}