{% extends "layout.html" %}

{% block body %}


<!-- My account view -->

<div class="container" >
  <div class="row" style="padding-bottom: 50px">
    <div class="col-md-auto">


      <!-- INFORMATION OF ACCOUNT -->

      <h1 style="padding-bottom: 50px">My Account</h1>

      <h2>username: {{ account.username }}</h2>
      <p>Email: {{account.email }}</p>
      <p>motto: {{ account.motto }}</p>
    </div>
    <div class="col-md-auto">

    </div>
  </div>
  <div class="row">
    <div class="col">
      <p><b>channels you have created</b></p>


      <!-- CHANNELS WHAT USER HAVE CREATE -->
      <ul class="list-group">
        {% for channel in channels %}
          <li>
            {% if channel.master_id == current_user.id %}
            <a href="{{ url_for('one_channel_index', channel_id=channel.id, sort='first') }}" class="list-group-item list-group-item-success">
              {{ channel.name }}
            </a>
            {% else %}
            <a href="{{ url_for('one_channel_index', channel_id=channel.id, sort='first') }}" class="list-group-item list-group-item-dark">
              {{ channel.name }}
            </a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col">


      <!-- UPDATE YOUR ACCOUNT -->
      <p><b>update your account</b></p>

      {% for error in errors %}
        <p>{{ error }}</p>
      {% endfor %}

      <form method="POST" action="{{ url_for('accounts_update', account_id=account.id) }}" name="accountform">
        <div class="form-group">
          <table>
            <tr>
              <td>{{ accountform.username.label }}</td>
              <td>{{ accountform.username(class="form-control", value=current_user.username) }}</td>
            </tr>
            <tr>
              <td>{{ accountform.password.label }}</td>
              <td>{{ accountform.password(class="form-control") }}</td>
            </tr>
            <tr>
              <td>{{ accountform.password2.label }}</td>
              <td>{{ accountform.password2(class="form-control") }}</td>
            </tr>
            <tr>
              <td>{{ accountform.motto.label }}</td>
              <td>{{ accountform.motto(class="form-control", value=current_user.motto) }}</td>
            </tr>
            <tr>
              <td>{{ accountform.email.label }}</td>
              <td>{{ accountform.email(class="form-control", value=current_user.email) }}</td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit" class="btn btn-warning">UPDATE</button</td>
            </tr>
          </table>
        </div>
      </form>
    </div>
  </div>
  <div class="row" style="padding-top: 20px">
    <!-- list of your messages -->
    <div class="col">
      <h2>Message:</h2>
      <div class="list-group">
        {% for message in messages %}
        <div class="list-group-item list-group-item-primary">
          {{ message.body }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col">
      <!-- list of your comments -->
      <h2>Comments:</h2>
      <div class="list-group">
        {% for comment in comments %}
        <div class="list-group-item list-group-item-warning">
          {{ comment.body }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
