{% extends "layout.html" %}

{% block body %}

<!-- LIST OF ALL varjoFORUM ACCOUNTS (EVERY ACCOUNT BUT NOT LOGGET ADMIN USER) -->

<h3>All application users</h3>

  <div class="list-group">
    {% for account in accounts %}
    {% if not account.id == current_user.id %}
    <div class="row" style="padding-bottom: 10px">
      <div class="col">

        <a class="list-group-item list-group-item-primary" href="{{ url_for('single_account_index', account_id=account.id) }}">
          {{ account.username }} {% if account.admin == True and not account.id == current_user.id %} (ADMIN USER) {% endif %}
        </a>


      </div>
      <div class="col">
        <form method="POST" action="{{ url_for('accounts_delete', account_id=account.id) }}" name="accountform">
          <button type="submit" class="btn btn-danger">DELETE</button>
        </form>
      </div>
      <div class="col-md-auto">
        {% if account.admin == True %}
        <form action="{{ url_for('admin_changer', account_id=account.id, direction='down') }}" method="POST">
          <button type="submit" class="btn btn-warning">
            downgrade to normal user
          </button>
        </form>
        {% else %}
        <form action="{{ url_for('admin_changer', account_id=account.id, direction='up') }}" method="POST">
          <button type="submit" class="btn btn-success">
            upgrade to superUser
          </button>
        </form>
        {% endif %}
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>

{% endblock %}
