{% extends "layout.html" %}

{% block body %}

<!-- LIST OF ALL varjoFORUM ACCOUNTS (EVERY ACCOUNT BUT NOT LOGGET ADMIN USER) -->

<h3>All application users</h3>

  <div class="list-group">
    {% for account in accounts %}

    <div class="row" style="padding-bottom: 10px">
      <div class="col">
        {% if account.admin == True and not account.id == current_user.id %}
        <p class="list-group-item list-group-item-primary">
          {{ account.username }} (ADMIN USER)
        </p>
        {% else %}
        <p class="list-group-item list-group-item-primary">
          {{ account.username }}
        </p>
        {% endif %}
      </div>
      <div class="col">
        <form method="POST" action="{{ url_for('accounts_delete', account_id=account.id) }}" name="accountform">
          <button type="submit" class="btn btn-danger">DELETE</button>
        </form>
      </div>
    </div>

    {% endfor %}
  </div>

{% endblock %}
