{% extends "layout.html" %}

{% block body %}

<!-- LOGIN FORM -->

<h2>Login</h2>

{{ error }}

<form method="POST" action="{{ url_for('auth_login') }}" name="loginform">
  <table>
    <tr>
      <td>{{ loginform.username.label }}</td>
      <td>{{ loginform.username }}</td>
    </tr>
    <tr>
      <td>{{ loginform.password.label }}</td>
      <td>{{ loginform.password }}</td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Login" /></td>
    </tr>
  </table>
</form>

{% endblock %}
